@CHARSET "UTF-8";

.header {
	background: #783e25;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
	padding: 10px;
}

\
.btn-default:focus, .btn-default:hover {
	background-color: #72351a;
	background-position: 0 -15px;
	color: #fff;
}

.footer {
	height: 20px;
	background-color: #333333;
	width: 100%;
	clear: both;
	position: fixed;
	bottom: 0px;
}

.myApp-wrap {
	border: 1px solid #b4bfaa;
	width: 70%;
	margin: 4% auto 16%;
	border-radius: 10px;
	text-align: center;
	border-width: 0px;
	background: #fff;
}

.user-search {
	border: 1px solid #b4bfaa;
	width: 29%;
	padding: 1%;
	border-radius: 10px;
	text-align: center;
	margin-top: 5%;
	background: #fff;
	display: inline-block;
	margin: 1%;
	margin-top: 4%;
	vertical-align: top;
}

.search-result {
	border: 1px solid #b4bfaa;
	width: 64%;
	padding: 1% 0.2% 0;
	border-radius: 10px;
	text-align: center;
	border-width: 1px;
	display: inline-block;
	margin: 1% background: #fff;
	margin: 1%;
	margin-top: 4%;
	margin-bottom: 4%;
	background: #fff;
}

.providers_li_class {
	display: inline-block;
	padding: 5px 10px;
}

.enter-email-text {
	padding: 9px;
	margin-bottom: 10px;
	width: 249px;
}

.button {
	margin-top: 0px;
	width: 150px;
	padding: 12px;
	border-radius: 0px;
	font-size: 18px;
	background: #7cc243;
	color: #fff;
	border: solid 1px #649a38;
}

.form-control {
	padding: 10px !important;
	border-radius: 0px !important;
	font-size: 17px;
	height: 45px;
	margin-top: 10px;
	margin-bottom: 30px;
	border: solid 1px #b4bfaa !important;
}

.label-text {
	display: inline-block;
	max-width: 100%;
	font-weight: 700;
	font-size: 20px;
	margin-top: 9px;
	line-height: 21px;
	color: #7cc243;
	height: 42px; /* border: 1px solid red; */
	overflow: hidden;
}

.update-text {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.ivalid-user-text {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	margin-top: 10px;
	color: #783e25;
	font-size: 16px;
}

.my-login-text {
	text-align: center;
	font-size: 45px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #fff;
}

.serach-with-provider {
	height: 12px;
}

.inner-user-info .placeholder-label {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	margin-top: 19px;
}

.no-result-found-div {
	width: 68%;
	text-align: center;
	margin-top: 10%;
	display: inline-block;
}

.no-result-text {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: xx-large;
	color: #783e25;
}

.inner-user {
	background: #edefec;
	border: 1px solid #d2d4d1;
	margin-bottom: 20px;
	min-height: 588px;
}

.edit-text { /* padding: 3px; */ /* margin-bottom: 10px; */
	/* width: 249px; */
	
}

.frequency-select {
	padding: 5px;
	margin-bottom: 15px;
	background-color: #ffffff;
	border: 1px solid #999;
}

body {
	background-color: #e2e6de;
}

.innaerpage-block {
	text-align: center;
	margin: 0px auto;
}

.inner-user input {
	margin-bottom: 0px;
}

.inner-user .button.update {
	width: 90%;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 0px;
	background: #783e25;
	border: #290e02;
}

.inner-user .button.update {
	width: 90%;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 0px;
	background: #7cc243;
	/* border: #6de20d; */
	font-weight: bold;
}

.inner-user .ng-binding {
	width: 100%;
	background: #777373;
	margin: 0px;
	height: auto;
	padding: 10px;
	color: #fff !important;
}

@media screen and (max-width: 768px) {
	.user-search {
		width: 100%;
		margin: 0;
		padding: 15px;
	}
	.no-result-found-div {
		width: 100%;
		margin: 0;
	}
	.search-result {
		width: 100%;
		padding: 15px 0px;
		margin: 0;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.innaerpage-block {
		padding: 15px;
	}
	.inner-user-info .button.update {
		width: 200px;
		margin-left: 15px;
	}
	.footer {
		position: relative;
	}
}