@CHARSET "UTF-8";

.headers-text {
	text-align: center;
	font-size: 45px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #fff;
}

.header {
	background: #783e25;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
	padding: 10px;
}

.label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
	color: black;
}

.modal-title {
	margin: 0;
	line-height: 1.42857143;
	text-align: center;
	font-weight: 700;
}

.modal-footer {
	padding: 15px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

table, th, td {
	/* border: 2px solid black; */
	
}

.table-wrapper {
	max-height: 400px;
	overflow-y: auto;
}

.table-wrapper table, .table-wrapper table tr th, .table-wrapper table tr td
	{
	text-align: center;
}

.p-t-30 {
	padding-top: 30px;
}

.date-picker-style {
	height: 45px;
}

.text-center-th th {
	text-align: center;
}